@model IEnumerable<Core.Models.ProjectTopic>
@{
	ViewData["Title"] = "Project Topics";
	Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<style>

    body {
        counter-reset: Serial; /* / Set the Serial counter to 0 /*/
    }
    tr td:first-child:before  {

        counter-increment: Serial; /* / Increment the Serial counter /*/
        content: counter(Serial); /*  / Display the counter /*/
    }
</style>

<!-- Page Header -->
<div class="page-header">
						
	<div class="row">
		<div class="col">
			<h3 class="page-title">Project Topics Upload</h3>
		</div>
		<div class="col-auto float-right ml-auto">
			<a class="btn add-btn" href="#" data-toggle="modal" data-target="#add_Topic"><i class="fa fa-plus"></i> Add Project Topic</a>
		</div>
	</div>	
</div>

<div class="row m-3">
	<div class="col-12">
		<div class="alert alert-info alert-dismissible fade show" role="alert">
			<strong>Note!</strong> You can submit up to three project topics per course out of which one will be approved.
		</div>
	</div>
</div>
<!-- /Page Header -->

<!-- Video List -->
<div class="row">
	<div class="col-md-12">
				@if (@Model?.Count() > 0)
				{
					<div class="table-responsive">	
						<table class="table table-hover custom-table datatable mb-0">
							<thead>
								<tr>
									<th>S/N</th>
									<th>Course</th>
									<th>Topic</th>
									<th class="text-center">Description</th>
								</tr>
							</thead>
							<tbody>
								@foreach( var project in  Model)
								{
									<tr>
										<td></td>
										<td>@project.Course.Title</td>
										<td>@project?.Title</td>
										<td class="text-center">
											<a class="btn newBtn" href="#" data-toggle="modal" data-target="#viewProjectDetails" onclick="MapProjectTopicDetails('@project?.Title','@project?.Description')"><i class="la la-eye"></i> View</a>
										</td>
									</tr>
								}								
							</tbody>
						</table>
					</div>
                }
				else
				{
					<div cclass="row p5 m-5">
						<div class="col-md-12 text-center p-5 m5">
							<h2>No Record Found</h2>
						</div>
					</div>
				}
	</div>
</div>
<!-- /Video List -->

<!-- Add Project Topic Modal -->
<div class="modal custom-modal fade" id="add_Topic" role="dialog">
	<div class="modal-dialog modal-md modal-dialog-centered">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
			<div class="modal-body">
				<h5 class="modal-title text-center mb-3">Add Project Topic</h5>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Course  Name</label>
                                <select class="form-control custom-select" id="name" asp-items="@(new SelectList(@ViewBag.AllCourses,  "Id", "Name" ))"></select>
								<p class="text-danger" id="nameVDT" style="display: none;">Select Course</p>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Project Title</label>
								<input type="text" class="form-control" id="title" placeholder="Project Title" required>
								<p class="text-danger" id="titleVDT" style="display: none;">Project Title</p>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
							<label>Project Description</label>
							<textarea class="form-control" id="description"></textarea>
							<p class="text-danger" id="descriptionVDT" style="display: none;">Enter project description</p>
							</div>
						</div>
					</div>
					<div class="m-t-20 text-center">
					<button class="btn newBtn submit-btn" onclick="SubmitProjectTopic()">CREATE</button>
					</div>
			</div>
		</div>
	</div>
</div>
<!-- /Add Project Topic Modal -->

<!-- View Project Details Modal -->
<div id="viewProjectDetails" class="modal custom-modal fade" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><b>Project Details</b></h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="input-group m-b-10" >
					<h5><b>Title : </b><span id="projectTopicView"></span></h5>
				</div>
				<div class="input-group m-b-10" >
					<p><b>Description : </b><span id="projectDescriptionView"></span></p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /View Project Details Modal -->
				

<script>
	function MapProjectTopicDetails(Title, Description) {
		document.getElementById("projectTopicView").innerHTML =  Title;
		document.getElementById("projectDescriptionView").innerHTML = Description;
	}

</script>

