@{
	ViewData["Title"] = "Change Password Page";
	Layout = ViewBag.Layout;
}

<div class="Container">
	<div class="row justify-content-center">
		<div class="col-md-5 p-4 account-cont bg-white">
			<div class="row justify-content-center">
				<div class="col-md-12 account-logo">
					<img src="~/img/BV-Logo.png" />
				</div>
				<div class="col-md-12 mb-3">
					<div class="row">
						<div class="col-md-12 mb-3">
							<label>Old Password</label>
							<input type="password" class="form-control" id="OldPasswrd" required>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 mb-3">
							<label>New Password</label>
							<input type="password" class="form-control" id="NewPasswrd" required>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 mb-5">
							<label>Confirm Password</label>
							<input type="password" class="form-control" id="Cpasswrd" required>
						</div>
					</div>
					<div class="form-group text-center">
						<button class="btn newBtn account-btn" onclick="ChangePasswordPost()" type="submit">Update Password</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
