
@{
    ViewData["Title"] = "You're Confirmed";
}

<div class="container">
    <div class="row g-4 justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-12 my-6 mb-0 wow fadeInUp" data-wow-delay="0.1s">
            <div class="bg-dark  p-4" style="border-radius: 25px;">
                <h3 class="mb-2 text-center text-primary"><b>Account Activated Successfully! </b></h3>
                <p class="mb-4 text-center text-white"><i class="fa fa-check-circle me-3" style="font-size:75px;"></i></p>
                <div class="row g-3">
                    <div class="col-sm-12 mb-0">
                        <p class="text-center mb-0 text-white"><b>Thank you for activating your account, You can now log in to continue.</b></p>
                    </div>
                    <div class="col-12 mt-4">
                        <a class="btn btn-primary w-100 py-2 text-center" style="border-radius: 15px;" asp-controller="Accounts" asp-action="Login">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
