@model Core.ViewModels.PasswordResetViewModel
@{
    ViewData["Title"] = "ResetPassword";
}

<div class="container">
	<div class="row g-4 justify-content-center">
		<div class="col-lg-6 col-md-8 col-sm-12 my-6 mb-0 wow fadeInUp" data-wow-delay="0.1s">
			<div class="bg-dark  p-4" style="border-radius: 25px;">
				<h3 class="mb-4 text-center text-primary">Reset Password</h3>
				<div class="row g-3">
					<div class="col-sm-12 mb-0">
						<p class="text-left mb-0 text-primary"><b>New Password</b></p>
					</div>
					<div class="col-sm-12 mt-1">
						<div class="form-floating">
							<input type="password" class="form-control border-0" id="newPasswordId" placeholder="Enter New Password">
							<label for="cname">Enter New Password</label>
						</div>
					</div>
					<div class="col-sm-12 mb-0">
						<p class="text-left mb-0 text-primary"><b>Confirm Password</b></p>
					</div>
					<div class="col-sm-12 mt-1">
						<div class="form-floating">
							<input type="password" class="form-control border-0" id="confirmPasswordId" placeholder="Enter Password Confirmation">
							<label for="cname">Enter Password Confirmation</label>
						</div>
					</div>
					@Html.HiddenFor(m => m.Token)
					<div class="col-12 mt-4">
						<button class="btn btn-primary w-100 py-2 text-center" style="border-radius: 15px;" onclick="resetPassword()" type="submit">Update Password</button>
					</div>
					<div class="col-12">
						<div class="form-floating text-center">
							<p class="text-muted mb-1">Don't have an account yet? <a class="btn-link" asp-controller="Accounts" asp-action="Application"><b>Apply Now</b></a></p>
							<p class="text-muted mb-4">have an account already? <a class="btn-link" asp-controller="Accounts" asp-action="Login"><b>Login</b></a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

